---
import Base from '@layouts/Base.astro';

let post = await Astro.glob('./posts/*.md');
import { formatDate } from '@layouts/BlogPost.astro';
let postLen = 0;
---

<Base title='Welcome'>
	<h1
		class='text-4xl font-black text-primary dark:text-secondary text-center uppercase'
	>
		Welcome to my personal blog
	</h1>
	<article class='grid justify-start mt-12 max-w-3xl lg:grid-cols-2 mx-auto'>
		{
			post.map((post) => (
				<a
					class='text-primary dark:text-secondary text-center p-6 hover:scale-105 transition-all'
					href={post.url}
				>
					<img
						class='rounded-xl'
						src={post.frontmatter.image}
						alt={`postImage ${postLen++}`}
					/>
					<h4 class='text-3xl font-bold'>{post.frontmatter.title}</h4>
					<p class=''>{formatDate(post.frontmatter.date)}</p>
				</a>
			))
		}
	</article>
</Base>
