---
const { title } = Astro.props;
import Header from '@components/header';
interface Props {
	title: string;
}
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>{title} / Egor Latushko</title>
		<link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
		<link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
		<link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
		<link rel='manifest' href='/site.webmanifest' />
		<link rel='mask-icon' href='/safari-pinned-tab.svg' color='#5bbad5' />
		<meta name='msapplication-TileColor' content='#da532c' />
		<meta name='theme-color' content='#ffffff' />
	</head>
	<body>
		<Header client:visible />
		<div
			class='min-h-screen w-full bg-secondary dark:bg-primary pt-[80px] transition-all'
		>
			<slot />
		</div>
	</body>
</html>

<script is:inline>
	const theme = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		if (window.matchMedia('(prefers-color-sheme: dark)').matches) {
			return 'dark';
		}
		return 'light';
	};

	if (theme === 'light') {
		document.documentElement.classList.remove('dark');
	} else {
		document.documentElement.classList.add('dark');
	}
</script>
